body{
    background-color: blue;
    display: flex;
    flex-direction: column; 
    /* gap:20px; */
    align-items: center;
    /* justify-content: center; */
}
h1{
    position: center;
    top: 0;
    left: 0;
    font-family: 'Common Pixel', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 60px;
}

.emerging-text-1 {
    opacity: 0; 
    animation: emerge 2s forwards; 
}

@keyframes emerge {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.emerging-text-2 {
    opacity: 0; 
    animation: emerge 2s forwards;
    animation-delay: 1.5s;
}

@keyframes emerge {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.emerging-text-3 {
    opacity: 0; 
    animation: emerge 2s forwards; 
    animation-delay: 3s;
}

@keyframes emerge {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

button{
    position: center;
    margin-top: 50px;
    font-family: 'Common Pixel', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 30px;
    background-color: blue;
}
