body{
  display: flex;
  flex-direction: column; 
  /* gap:20px; */
  align-items: center;
  /* justify-content: center; */
  background-color: blue;
}

h1{
    position: center;
    margin-top: 100px;
    font-family: 'Common Pixel', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 60px;
}
  .centered-image {
      position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      } 
      
      .centered-image img {
        width:400px;
        height: auto;
      }

      #zoom-image {
        width: 125px;
        transition: width 2s ease-in-out;
        cursor: pointer;
    }

    .center-container {
      position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin-top: -50%;
    }

    button{
        position: center;
        display: flex;
        margin-top: 50px; 
        font-family: 'Common Pixel', sans-serif;
        font-weight: 400;
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        letter-spacing: -0.88px;
        line-height: 60px;
        background-color: blue;
    }


  