body{
    background-color: blue;
}
h1{
    position: center;
    top: 0;
    left: 0;
    font-family: 'Common Pixel', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 60px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
}

.centered-image {
    grid-column: 2 / span 2; /* Place the image in columns 2 and 3 (centered horizontally) */
    grid-row: 1 / span 3; /* Place the image in rows 2 and 3 (centered vertically) */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-image img {
    width:600px;
    height: auto;
  }

  .centered-image span{
    position: absolute;
    top: 35%;
    right: 31%;
    align-items: center;
    font-family:"Roboto Mono-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
  }

  .audio-container{
    position: absolute;
    top: 55%;
    right: 51.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height: auto;
  }

  .align-center{
    grid-column: 2 / span 2; /* Place the image in columns 2 and 3 (centered horizontally) */
    grid-row: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -700px;
}


  .clickable-text {
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    margin-top: 80px;
    margin-left: 285px;
    color: white;
    background-color: white;
}

  .text {
    position: absolute;
    top: 27.5%;
    right:58%;
    align-items: center;
    font-family:"Roboto Mono-Regular", Helvetica;
    font-size: 100px;
    font-weight: 400;
    color: #ffffff;
  }

  button{
    position: absolute;
    top: 85%;
    left: 50%; 
    transform: translateX(-50%); 
    font-family: 'Common Pixel', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 60px;
    background-color: blue;
}