body{
    background-color: blue;
}

h1{
    position: center;
    top: 500px;
    left: 0;
    font-family: 'Common Pixel', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 60px;
}

h2{
    position: center;
    font-family: 'Common Pixel', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 10px;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
    }

      .centered-image {
        grid-column: 2 / span 2; 
        grid-row: 1 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
      } 
      
      .centered-image img {
        width:250px;
        height: auto;
      }

    button{
        position: absolute;
        top: 70%;
        left: 50%; 
        transform: translateX(-50%); 
        font-family: 'Common Pixel', sans-serif;
        font-weight: 400;
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        letter-spacing: -0.88px;
        line-height: 60px;
        background-color: blue;
    }


    

