     h1 {
      position: fixed;
      width: 816px;
      top: 0;
      left: 0;
      font-family: "Roboto Mono-Regular", Helvetica;
      font-weight: 400;
      color: #ffffff;
      font-size: 80px;
      text-align: center;
      letter-spacing: -0.88px;
      line-height: 100px;
        }

   h2 {
    position: fixed;
    width: 816px;
    top: 0;
    left: 0;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 60px;
      }
 